<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="eventLogs" type="EventLogManager.CustomConfigSection.EventLogsSection, EventLogManager"/>
  </configSections> 
  
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>

  <!--NOTE: Event log and event source names are case sensitive.
        So logs "MyLog" and "myLog" are not the same.-->
  
  <!-- To update the event logs on another machine, specify the machineName attribute of the eventLogs element: -->
  <!--<eventLogs machineName="MyServerName">-->
  <eventLogs>
    <add>
      <eventLogs>
        <eventLog name="CustomEventLog">
          <eventSources>
            <eventSource name="CustomEventSource"/>
            <eventSource name="CustomEventSource2"/>
            <eventSource name="CustomEventSource3"/>
          </eventSources>
        </eventLog>
        <eventLog name="SecondEventLog">
          <eventSources>
            <eventSource name="SecondLogSource"/>
          </eventSources>
        </eventLog>
        <eventLog name="ThirdEventLog">
          <eventSources>
            <eventSource name="ThirdLogSource"/>
          </eventSources>
        </eventLog>
      </eventLogs>
    </add>
    <remove>
      <eventLogs>
        <eventLog name="SecondEventLog"/>
        <eventLog name="ThirdEventLog"/>
      </eventLogs>
      <eventSources>
        <eventSource name="CustomEventSource2" />
        <eventSource name="CustomEventSource3" />
      </eventSources>
    </remove>
    <checkExistence>
      <eventLogs>
        <eventLog name="SecondEventLog"/>
        <eventLog name="ThirdEventLog"/>
      </eventLogs>
      <eventSources>
        <eventSource name="CustomEventSource2" />
        <eventSource name="CustomEventSource3" />
      </eventSources>
    </checkExistence>
    <!-- To list all event logs and sources on a machine, either:
          a) Leave list eventLogs collection empty: 
            <list> 
              <eventLogs />
            </list> 
          b) Leave list element empty: <list />
          c) Do not include a list element at all. -->
    <!-- WARNING: Application and System event logs may contain hundreds of 
    sources each.  Be aware of this when listing all event logs and sources.-->
    <list>
      <eventLogs>
        <eventLog name="SecondEventLog"/>
        <eventLog name="ThirdEventLog"/>
      </eventLogs>
    </list>
  </eventLogs>
</configuration>
