<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="eventLogs" type="EventLogsCreateRemove.CustomConfigSection.EventLogsSection, EventLogsCreateRemove"/>
  </configSections> 
  
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>

  <!-- To update the event logs on another machine, specify the machineName attribute of the eventLogs element: -->
  <!--<eventLogs machineName="MyServerName">-->
  <eventLogs>
    <add>
      <eventLogs>
        <eventLog name="MyCustomEventLog">
          <eventSources>
            <eventSource name="CustomEventSource"/>
          </eventSources>
        </eventLog>
      </eventLogs>
    </add>
    <remove>
      <eventLogs>
        <eventLog name="MyCustomEventLog"/>
      </eventLogs>
      <!--<eventSources>
        <eventSource name="EventSource1" />
        <eventSource name="EventSource2" />
      </eventSources>-->
    </remove>
  </eventLogs>
</configuration>
